.kyndform__embed,
.kyndform__modal {
  * {
    &:after,
    &:before {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
  }
}

.kyndform__embed-standard,
.kyndform__embed-fullpage,
.kyndform__iframe-container {
  iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
    min-height: inherit;
    transform: translateZ(0);
  }
}

.kyndform__trigger-button {
  padding: 8px 24px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  background: #fff;
  color: #020617;
  border: none;
  border-radius: 9999px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px 0;
  transition: opacity .2s ease-in-out;
  cursor: pointer;

  &.kyndform__trigger-button-dark {
    background: #020617;
    color: #fff;
  }

  &:hover {
    opacity: 0.8;
  }
}

.kyndform__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .85);
  transition: opacity .2s ease-in-out;
  z-index: 10001;

  .kyndform__iframe-container {
    color: #fff;
  }
}

.kyndform__modal-large {
  .kyndform__iframe-container {
    width: calc(100% - 80px);
    height: calc(100% - 80px);
  }
}

.kyndform__modal-medium {
  .kyndform__iframe-container {
    width: calc(85% - 80px);
    height: calc(85% - 80px);
  }
}

.kyndform__modal-small {
  .kyndform__iframe-container {
    width: calc(70% - 80px);
    height: calc(70% - 80px);
  }
}

.kyndform__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 2px;
  cursor: pointer;
  transition: opacity .2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

.kyndform__iframe-container {
  position: relative;
  height: 100%;

  &,
  iframe {
    overflow: hidden;
    border-radius: 8px;
  }
}

.kyndform__popup-button {
  position: fixed;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  background: #fff;
  color: #020617;
  border: none;
  box-shadow: 0 2px 12px rgba(0, 0, 0, .06), 0 2px 4px rgba(0, 0, 0, .08);
  transition: transform 0.2s ease-in-out;
  transform-origin: center;
  z-index: 10000;

  &.kyndform__popup-button-dark {
    background: #020617;
    color: #fff;
  }

  &:hover {
    transform: scale(1.05);
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

.kyndform__popup {
  .kyndform__iframe-container {
    position: fixed;
    z-index: 10000;
    background: #fff;
    box-shadow: rgba(0, 0, 0, .08) 0 2px 4px, rgba(0, 0, 0, .06) 0 2px 12px;
  }

  &.kyndform__popup-bottom-right {
    .kyndform__popup-button {
      right: 24px;
      bottom: 24px;
    }

    .kyndform__iframe-container {
      right: 24px;
      bottom: 94px;
    }
  }

  &.kyndform__popup-bottom-left {
    .kyndform__popup-button {
      left: 24px;
      bottom: 24px;
    }

    .kyndform__iframe-container {
      left: 24px;
      bottom: 94px;
    }
  }
}

.kyndform__loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 24px;

  svg {
    width: 28px;
    height: 6px;
  }
}

@keyframes kyndform__loading {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.kyndform__loading-dot {
  animation-name: kyndform__loading;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;

  &:nth-of-type(2) {
    animation-delay: 0.2s;
  }

  &:nth-of-type(3) {
    animation-delay: 0.4s;
  }
}